@page "/"

<h1 id="home-header"><img src="/img/spacex-logo-white.png" class="img" /></h1>
<h1 class="text-xl-center font-weight-bolder text-white">Logs</h1>
<br class="h-25" />
<h3 class="text-lg-center text-white">Welcome to the SpaceX logs, in the Launch Data you will find<br />some info about some of our missions.</h3>


