@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4" id="top-row-home">
            <a href="https://www.spacex.com/mission/" target="_blank" class="ml-md-auto text-white">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
